[run]
source = src/models

[report]
omit =
    */site-packages/*
    */tests/*
    src/controller.py
    src/data_handler.py
    src/utils/__init__.py
    src/__init__.py

exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
