[run]
source = src/models
omit = 
    */tests/*
    */venv/*
    */.venv/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:
    raise AssertionError
    raise NotImplementedError
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
